{
    "presets": [
      "babel-preset-env",
      "babel-preset-stage-2",
      "react",
      "flow"
    ],
    "plugins": [
      "transform-es2015-modules-commonjs",
      "transform-object-rest-spread"
    ]
  }
